// ==========================================================================
// Typography variables
// ==========================================================================

$normal: normal; // Change these values when using custom fonts
$bold: bold; // For example, bold could change to 400;

$base__font-size: 16;
$line-height: 1.5;

// ==========================================================================
// Typefaces
// ==========================================================================

$monospace: 'courier new', monospace;
$serif: Georgia, "Times New Roman", Times, serif;
//$sans: Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
$sans: "Franklin Gothic Medium", Arial, sans-serif;

// Icons
$genericons: 'Genericons';
$dashicons: 'Dashicons';