// ==========================================================================
// Layout
// ==========================================================================

#page {
	//padding: 0 4%;
}

#masthead,
#content,
//#secondary,
#colophon {
	margin: 0 auto;
	padding: 4em 4%;
}

#content {
	max-width: 1800px;
}

/* Put this somewhere */
.paging-navigation {
	clear: both;
}

/*--------------------------------------------------------------
Masthead
--------------------------------------------------------------*/
#masthead {
	text-align: center;
	margin: 0 auto;

	.avatar {
		@include border-radius(50px, 50px);
	}

	h1.site-title {
		font-size: $base__font-size * 3px;
		margin-bottom: 0;
	}

	h2.site-description {
		border-bottom: 1px solid $color__hr;
		font-family: $serif;
		font-size: $base__font-size * .8px;
		font-style: italic;
		font-weight: 200;
		margin: 0 auto 40px auto;
		padding: 0 0 40px 0;
		width: 40%;
	}
}

// Dark masthead and footer
#masthead,
#colophon {
	background: invert($color__pre-background);
	color: lighten($color__primary-text, 20%);

	a {
		color: invert($color__link--hover);
	}
	a:visited {
		color: invert($color__link);
	}
	a:hover,
	a:focus,
	a:active {
		color: lighten(invert($color__link), 20%);
	}
}

.single #masthead {
	background: none;
}

/*--------------------------------------------------------------
Secondary
--------------------------------------------------------------*/
#secondary  {
	padding: 4em 0;

	.widget {
		display: block;
		float: left;
		padding: 1%;
		width: 24%;
	}
}